

a{
	text-decoration:none;
}
 #tab div p{
	color:black;
}
#tab div p a{
	color:black;
}
#tab div p a:hover{
	color:#9932CC;
}
.p{
   border:1px solid black;
   width:500px;
   height:150px;
   display:none;  
   
}
.p1{
   border:1px solid black;
   width:500px;
   height:150px;
}

.edit{
  
   height:600px;
   background-color:#8E2323;
   background:url(../img/4ca5e7632c8976cade2e33048534e.jpg) no-repeat;
}

.info{
   
   width:750px;
   height:500px;
   position:relative;
}
/*�༭��ѡ�*/
ul{
  
}

 *{padding:0px; margin:0px;}"src/main/webapp/news/news.html"
      a{ text-decoration:none; color:black;}
      a:hover{text-decoration:none; color:#336699;}
       #tab{width:100%; height:600px; background-color:#9f8f6f;}
       #tab ul{list-style:none; display:;height:30px;line-height:30px;padding:1px;border-bottom:2px #CCC solid;}
       #tab ul li{background:#FFF;cursor:pointer;float:left;list-style:none height:29px; line-height:29px;padding:0px 10px; margin:0px 10px; border:1px solid #BBB; border-bottom:2px solid #C88;background-color:black;color:#ccc;font-weight:bold}
       #tab ul li.on{border-top:2px solid Saddlebrown; border-bottom:2px solid #FFF;}
       #tab div{height:80%;width:95%; line-height:24px;border-top:none;  margin:10px; border:2px solid black;padding:10px;}
       .hide{display:none;}
       #thirdPage{
          color:white;
       }




/*�༭��ѡ�����*/
.copy{
   border:1px solid black;
   height:100px;
   background-color:black;
}

/*��Ȩ��*/
*{
	padding:0;
	margin:0;
	font-family:
	"����","��Ȫ������","����";
}
p{
	font-size:23px;
	margin:10px 10px 10px 0;
	color:white;
}
body>div{
	margin:0 auto;
	
	
	width:77%;
}
.link{
	height:30px;
	background-color:#3F3F3F;
}
.link span{
	line-height:30px;
	margin-left:480px;
	color:white;
}
.law{
	height:100px;
	background-color:#1F1F1F;
}
.law p{
	margin-left:300px;
	font-size:20px;
}
#back{
	position:fixed;
	right:10px;
	bottom:10px;
	width:70px;
	height:30px;
	margin:10px;
}
#back a{
	font-size:20px;
	color:#CFCF4F;
	text-decoration:none;
}
body>div{
	margin:0 auto;
	
	width:77%;
}

	
	

	
	
	
	

