p{
	font-size:23px;
	margin:10px 10px 10px 0;
	color:white;
}
.link{
	height:50px;
	background-color:#3F3F3F;
}
.link span{
	line-height:50px;
    margin-left:50px;
	color:white;
	font-weight:bold;
	float:left;		
}
.link img{
	margin-left:20px;
}
.law{
	height:100px;
	background-color:#1F1F1F;
	position:relative;
	top:-25px;
}
.law p{
	text-align:center;
	font-size:10px;
	color:#999999;
	margin:25px auto;
}
#back{
	position:fixed;
	right:10px;
	bottom:10px;
	width:70px;
	height:30px;
	margin:10px;
}
#back a{
	font-size:20px;
	color:#CFCF4F;
	text-decoration:none;
}
.duty{
	background-color:black;
}
.duty p{
	font-size:20px;
	margin-left:25px;
}
.team{
	height:180px;
	background-color:black;	
	
	
}
.img01{
	width:200px;
	float:left;
	margin-left:80px;
	margin-top:10px;

}
.p1 {
    float:left;
    margin-left:80px;
    margin-top:40px;
    margin-right:75px;
    width:490px;
       
}
.p1 p{
	font-size:10px; 
	color:#999999;
}

.co p{
	color:white;
	font-size:10px;	
	margin-top:50px;
}